.preview_block {
    margin-bottom: 20px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
  }
  .preview {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    overflow-y: auto;
    height: 90vh;
  }